<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renovation.rose.module.customer.mapper.CustomerMapper">

    <!--    配置要查询的表-->
    <sql id="select_table">
        rose_customer
    </sql>

</mapper>